{% extends "layout.html" %}
{% block body %}
    <div class="content">
        <div class="page-header">
            <h1>Share <small>{{ share_name }}</small></h1>
            {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
        </div>
        <div class="row">
            <div class="span14">
                <ul class="breadcrumb">
                    {% if path_parts %}
                    <li><a href="/shares/{{ share.id }}">root</a> <span class="divider">/</span></li>
                        {% for part in path_parts %}
                        <li><a href="/{{ part.url }}">{{ part.name }}</a> <span class="divider">/</span></li>
                        {% endfor %}
                    {% else %}
                    <li><a href="/shares/{{ share.id }}">root</a></li>
                    {% endif %}
                </ul>

                <div class="modal hide" id="createDirModal">
                    <form action="" method="POST">
                        <div class="modal-header">
                            <a href="#" class="close">&times;</a>
                            <h3>Create New Folder</h3>
                        </div>
                        <div class="modal-body">
                            <div class="clearfix">
                                <label for="dirName">Name</label>
                                <div class="input">
                                    <input class="input" id="dirName" name="dirName" size="50" type="text" />
                                </div>
                        </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn primary" name = "action" value="ok">Ok</a>
                            <button type="submit" class="btn secondary" name = "action" value="cancel">Cancel</a>
                        </div>
                    </form>
                </div>

                <div class="well" style="padding: 5px 10px;">
                    <button data-controls-modal="createDirModal" data-backdrop="true" data-keyboard="true" class="btn success small">Add Files...</button>
                    <button data-controls-modal="createDirModal" data-backdrop="true" data-keyboard="true" class="btn success small">New Folder</button>
                </div>

                {% if files %}
                <table class="bordered-table zebra-striped">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>age</th>
                            <th>size</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                {% if file.isDir %}
                                <td><img class="img" src="{{ url_for('static', filename='img/folder.png') }}">
                                    <a href="/{{ file.url }}">{{ file.name }}</a></td>
                                {% else %}
                                    <td><img src="{{ url_for('static', filename='img/file.png') }}">{{ file.name }}</td>
                                {% endif %}
                                <td class="modified">{{ file.mdate }}</td>
                                <td class="size">{{ file.size }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3>No files found in this directory.</h3>
                {% endif %}
            </div>
        </div>
    </div> <!-- content -->
{% endblock %}

{% block js %}

{% endblock %}
