{% extends "layout.html" %}
{% block body %}
    <div class="content">
        <div class="page-header">
            <h1>Share <small>{{ share_name }}</small></h1>
        </div>
        <div class="row">
            <div class="span14">
                <ul class="breadcrumb">
                    {% if path_parts %}
                    <li><a href="/shares/0">root</a> <span class="divider">/</span></li>
                        {% for part in path_parts %}
                        <li><a href="/{{ part.url }}">{{ part.name }}</a> <span class="divider">/</span></li>
                        {% endfor %}
                    {% else %}
                    <li><a href="/shares/0">root</a></li>
                    {% endif %}
                </ul>

                {% if files %}
                <table class="bordered-table">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>age</th>
                            <th>size</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                {% if file.isDir %}
                                <td><img src="{{ url_for('static', filename='img/folder.png') }}">
                                    <a href="/{{ file.url }}">{{ file.name }}</a></td>
                                {% else %}
                                    <td><img src="{{ url_for('static', filename='img/file.png') }}">{{ file.name }}</td>
                                {% endif %}
                                <td>{{ file.mdate }}</td>
                                <td>{{ file.size }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3>No files found in this directory.</h3>
                {% endif %}
            </div>
        </div>
    </div> <!-- content -->
{% endblock %}
